@tailwind base;
@tailwind components;
@tailwind utilities;

#home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../public/svg/home-wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
}

#form-area::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 55%, 0% 100%, 100% 100%);
    height: 400px;
    width: 100%;
    @apply bg-primary
}

.skills-slider .swiper-pagination-bullet-active {
    background-color: #222;
}

.project-card .swiper-pagination-bullet-active {
    @apply bg-secondary-100
}